<div class="po-row po-mt-1 po-mb-3">
  <div class="po-lg-12">
    <p>
      If your app has the need for a custom authentication flow, the Carol FE
      SDK provides methods to help with the password recovery flow.
    </p>
    <p class="po-mb-2">
      <br />
      The password recovery flow starts with a recovery request, this request
      generates a token that is sent to the target e-mail address. <br />
      With the token in hand, the user can is redirected to a recovery page,
      where a new password is chosen and a reset request is sent with the
      authentication token
    </p>
    <p>
      Use the form below to send a password recovery request using the
      <span class="highlight">CarolAuthService</span> methods. <br />Follow the
      link sent to your e-mail address to be redirected to the
      <span class="highlight">Reset Password</span> tab with a valid token.
    </p>
  </div>
</div>

<div class="po-row column align-center">
  <div class="po-lg-4">
    <po-login
      name="userLogin"
      [(ngModel)]="userLogin"
      p-clean
      p-label="E-mail"
      p-placeholder="Enter your e-mail address"
      p-required
    >
    </po-login>
  </div>
  <div class="po-lg-4">
    <po-button-group [p-buttons]="actionGroupButtons"> </po-button-group>
  </div>
</div>
