<ng-container
  *ngIf="{
    isLoggedIn: isLoggedIn$ | async,
    hasCredentialsDisabled: hasCredentialsDisabled$ | async
  } as data"
>
  <div class="po-row po-mb-3 po-mt-1">
    <div class="po-lg-12 po-mb-3">
      <p
        class="banner"
        [class.info]="data.isLoggedIn"
        [class.danger]="!data.isLoggedIn"
      >
        <span
          class="po-icon"
          [class.po-icon-warning]="!data.isLoggedIn"
          [class.po-icon-info]="data.isLoggedIn"
        ></span>
        {{ data.isLoggedIn ? LOGGED_IN_INFO : LOGGED_OUT_INFO }}
      </p>
    </div>

    <div class="po-lg-12">
      <p class="po-mb-1">
        The Carol FE SDK provides methods to interact with the current active
        session.
      </p>
      <p class="po-mb-1">
        Depending on your app's needs, a custom login page can be implemented.
      </p>
      <p class="po-mb-1">
        By default, the Carol SSO page is used to control the authentication
        flow.
      </p>
      <p>
        Use the form below to interact with your current Carol session using the
        methods from the
        <span class="highlight">CarolAuthService</span> class
      </p>
    </div>
  </div>

  <div class="row po-mb-1">
    <div class="po-lg-12">
      <po-switch
        [(ngModel)]="isSelfLogin"
        p-label="Self Login"
        [p-label-off]="SELF_LOGIN_FALSE_LABEL"
        [p-label-on]="SELF_LOGIN_TRUE_LABEL"
        (ngModelChange)="onChangeSelfLogin($event)"
      >
      </po-switch>
    </div>
  </div>

  <form *ngIf="!data.hasCredentialsDisabled" class="po-row column align-center">
    <ng-container *ngIf="!data.isLoggedIn">
      <div class="po-lg-4">
        <po-login
          name="userLogin"
          [(ngModel)]="userLogin"
          p-clean
          p-label="E-mail"
          p-placeholder="Enter your e-mail address"
          p-required
        >
        </po-login>
      </div>

      <div class="po-lg-4">
        <po-password
          name="userPassword"
          [(ngModel)]="userPassword"
          p-clean
          p-label="Password"
          p-placeholder="Enter your password"
          p-required
        >
        </po-password>
      </div>
      <div class="po-lg-4">
        <po-button-group [p-buttons]="actionGroupButtonsLogin">
        </po-button-group>
      </div>
    </ng-container>

    <ng-container *ngIf="data.isLoggedIn">
      <div class="po-lg-4">
        <po-button-group [p-buttons]="actionGroupButtonsLogout">
        </po-button-group>
      </div>
    </ng-container>
  </form>

  <section
    *ngIf="data.hasCredentialsDisabled"
    class="po-pt-4 po-grid-cell-center"
  >
    <p class="po-mb-1">
      <span class="po-icon po-icon-warning"></span>
      Organization "<strong class="po-text-color-primary">{{
        organization
      }}</strong
      >" has already an active session.
    </p>
    <p *ngIf="environment" class="po-mb-1">
      Environment "<strong class="po-text-color-primary">{{
        environment
      }}</strong
      >" is not allowed for the current active session.
    </p>
  </section>
</ng-container>
