<div *ngIf="categories.length===0" [style.height]="height">
  <loading></loading>
</div>

<div *ngIf="categories.length>0">
  <kendo-chart *ngIf="categories.length>0"
    [seriesColors]="colors"
    [categoryAxis]="{ categories: categories }"
    [style.height]="height">

    <kendo-chart-title *ngIf="title!==''" [text]="title"></kendo-chart-title>
    <kendo-chart-legend *ngIf="legend===true" position="bottom" orientation="horizontal"></kendo-chart-legend>
    <kendo-chart-tooltip *ngIf="tooltip===true" format="{0}"></kendo-chart-tooltip>
    <kendo-chart-series>
      <kendo-chart-series-item *ngFor="let item of series" [type]="type" style="normal"
        [data]="item.data" [name]="item.label">
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>
</div>
