<po-page-default class="fade-in">
  <po-tabs>
    <po-tab p-label="Login" [p-active]="selectedTab === Tabs.LOGIN">
      <app-login></app-login>
    </po-tab>
    <po-tab p-label="Forgot Password" [p-active]="selectedTab === Tabs.FORGOT_PASS">
      <app-forgot-password>

      </app-forgot-password>
    </po-tab>
      <po-tab p-label="Change Password" [p-active]="selectedTab === Tabs.CHANGE_PASS">
        <app-change-password></app-change-password>
      </po-tab>
  </po-tabs>
</po-page-default>