<toolbar></toolbar>

<div class="page">
  <div class="page-filter">
    <a routerLink="/" class="page-menu-general">
      <img src="assets/general.png" class="page-menu-img-general">
    </a>

    <a routerLink="/campaigns" class="page-menu-campaigns">
      <img src="assets/campaigns.png" class="page-menu-img-campaigns">
    </a>

    <div class="page-info">
      App Name
    </div>
    <div class="page-filter-field" *ngIf="filtersTemplate!==undefined">
      <ng-container *ngTemplateOutlet="filtersTemplate"></ng-container>
    </div>
  </div>

  <div class="page-content">
    <ng-content></ng-content>
  </div>
</div>

