.result-box {
	height: 100%;
	margin: 12px 6px 14px 6px;
}

.result-box-title {
	font-size: 22px;
	font-weight: bold;
	padding-bottom: 5px;
}

.result-box-content {
	color: #AFB8C2;
	font-size: 16px;
}

.result-box-container {
	min-height: 92px;
}