.percentage-result {
	width: 100%;
	min-height: 33px;
	font-size: 12px;
	margin-top: 8px;
}

.percentage-result-image-container {
	width: 20%;
	height: 20px;
	display: inline;
	margin-right: 10px;
}

.percentage-result-image {
	width: auto;
	height: 20px;
	vertical-align: top;
}

.percentage-result-text {
	width: 80%;
	line-height: 14px;
	display: inline-block;
}