<div class="toolbar">
  <div class="toolbar-content">
    <img src="assets/zoom.png" class="toolbar-search-image">
    <div class="toolbar-search">

      <input #inputElement
        (input)="changeSearch($event.target.value)"
        [placeholder]="literals?.lSearchToolbar"
        [(ngModel)]="searchInput"
        [ngModelOptions]="{standalone: true}">

      <div class="toolbar-search-box" [hidden]="!showSearchBox">

        <span *ngIf="items.length > 0" class="title-search-box">
          {{ literals?.lItems }}
        </span>
        <span *ngFor="let item of items"
          [routerLink]="['/item', item.value]"
          class="itens-search-box">
          {{ item.label }}
        </span>

        <span *ngIf="searchingItems===true"
          class="title-search-box">
          <loading></loading>
        </span>

        <span *ngIf="searchingItems===false && items.length === 0"
          class="title-search-box">
          {{ literals?.lNoResultsFound }}
        </span>
      </div>
    </div>

    <div class="toolbar-group-right">
      <div class="toolbar-language-container"
        (mouseenter)="showLanguageDropdown=true"
        (mouseleave)="showLanguageDropdown=false">

        <div class="toolbar-language-img-container">
          <img src="assets/flags/{{ language }}.png">
        </div>
        <div class="toolbar-language-text-container">
          {{ language }}
        </div>

        <div class="toolbar-dropdown"
          style="left: 0px"
          [hidden]="!showLanguageDropdown">

          <span (click)="changeLanguage('EN')">
            <img src="assets/flags/EN.png" class="toolbar-dropdown-img-language">
            {{ literals?.lEnglish }}
          </span>
          <span (click)="changeLanguage('PT')">
            <img src="assets/flags/PT.png" class="toolbar-dropdown-img-language">
            {{ literals?.lPortuguese }}
          </span>
        </div>
      </div>

      <div class="toolbar-user-container"
        (mouseenter)="showUserDropdown=true"
        (mouseleave)="showUserDropdown=false">

        <thf-avatar class="toolbar-user-avatar"
          t-src="assets/{{ face }}"
          t-size="sm">
        </thf-avatar>
        <div class="toolbar-user-text-container">
          {{ user }}
        </div>
        <div class="toolbar-dropdown"
          style="right: 0px"
          [hidden]="!showUserDropdown">

          <span (click)="logout()">{{ literals?.lLogout }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
