<div class="po-row po-mt-1 po-mb-3">
  <div class="po-lg-12">
    <p class="banner info" *ngIf="!invalid">
      Your token is {{ token }}
    </p>
    <p *ngIf="invalid" class="banner info po-mb-1">
      <span class="po-icon po-icon-warning"></span>
      Recovery token not found. Use the Forgot Password tab to generate one.
    </p>
  </div>
  <div class="po-lg-12">
    <p class="po-mb-2">
      With a valid recovery token in hand, a password reset request can be sent to Carol. 
      <br> A valid password must contain at least 5 characters.
    </p>
    <p>
      Use the form below to send a recovery request using the methods provided by the SDK in the <span class="highlight">CarolAuthService</span> class.
    </p>
  </div>
</div>

<div class="po-row column align-center">
  <div class="po-lg-4">
    <po-password [disabled]="invalid"
      name="newPassword"
      [(ngModel)]="newPassword"
      p-clean
      p-label="New Password"
      [p-minlength]="5"
      p-placeholder="Enter your new password"
      p-required
    >
    </po-password>
  </div>
  <div class="po-lg-4">
    <po-password [disabled]="invalid"
      name="newPasswordConfirmation"
      [(ngModel)]="newPasswordConfirmation"
      p-clean
      p-label="Password Confirmation"
      [p-minlength]="5"
      p-placeholder="Confirm your new password"
      p-required
    >
    </po-password>
  </div>
  <div class="po-lg-4">
    <po-button-group [p-buttons]="actionGroupButtons">
    </po-button-group>
  </div>
</div>