<div class="po-row">
  <div class="po-lg-12">
    <p *ngIf="!invalid">
      {{ token }}
    </p>
    <p *ngIf="invalid">
      Token not found. Use the 'Forgot Password' tab to generate one.
    </p>
  </div>
</div>

<div class="po-row column align-center">
  <div class="po-lg-4">
    <po-password [disabled]="invalid"
      name="newPassword"
      [(ngModel)]="newPassword"
      p-clean
      p-label="New Password"
      [p-minlength]="5"
      p-placeholder="Enter your new password"
      p-required
    >
    </po-password>
  </div>
  <div class="po-lg-4">
    <po-password [disabled]="invalid"
      name="newPasswordConfirmation"
      [(ngModel)]="newPasswordConfirmation"
      p-clean
      p-label="Password Confirmation"
      [p-minlength]="5"
      p-placeholder="Confirm your new password"
      p-required
    >
    </po-password>
  </div>
  <div class="po-lg-4">
    <po-button-group [p-buttons]="actionGroupButtons">
    </po-button-group>
  </div>
</div>