<po-page-default class="fade-in" p-title="Home">
  <div class="po-row">
    <div class="po-lg-12">
      <p class="po-mb-1">Welcome to the Carol App Web Seed!</p>
      <p class="po-mb-2">
        Use this boilerplate to kickstart your Carol Apps and get the most out
        of them.
      </p>
      <p class="po-mb-3">
        Navigate through the samples using the side panel and learn more about
        the SDK and its functionalities.
      </p>
      <p class="po-mb-1">
        Keep up to date with our official documentation in the package's
        <span (click)="openDocs()" class="highlight link">npmjs</span>
        page.
      </p>
      <p>
        Learn more about the
        <span (click)="openCarolDocs()" class="highlight link">Carol</span>
        platform reading the official documentation.
      </p>
    </div>
  </div>
</po-page-default>
