@keyframes fadeIn {
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.25;
  }
  0% {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s linear;
}

.po-table-main-container {
  max-height: 70vh;
  overflow: auto;
}

.column {
  flex-direction: column;
}

.align-center {
  align-content: center;
}