.box {
  display: inline-block;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.3);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.3);
  padding: 16px;
  margin: 8px;
  flex: 1;
}

.box-title {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 5px;
}

.box-body {
  font-family: NunitoSans;
  font-size: 16x;
  line-height: 22px;
  color: #AFB8C2;
  text-align: left;
}